body {
  background-color: #fcc9b9;
}
.display-4 {
  background-color: #a4345d;
}
.container {
  background-color: #ffddca;
}
#seconds {
  font-size: 1.5em;
  float: right;
}
#test_status {
  text-align: center;
}
#test {
  text-align: center;
}